@using ZPProductManagement.Web.ViewModels

@model IEnumerable<IndexProductViewModel>

<main>
    <partial name="_ImportFile" model="new CreateFileViewModel()"/>

    <partial name="_ImportProduct" model="new CreateProductViewModel()" />

    <ul>
        @foreach (var it in Model)
        {
            <li>@it.CategoryName</li>
        }
    </ul>
</main>