@using System;
@using ZPProductManagement.Web.ViewModels;

@model CreateFileViewModel

<main>
    <form asp-action="Create" asp-controller="File" enctype="multipart/form-data">
        <input asp-for="Id" value="@Guid.NewGuid()" hidden />

        <input asp-for="File" />

        <button type="submit">Upload images</button>
    </form>

    <form asp-action="Create" asp-controller="Product">
        <button type="submit">Upload products</button>
    </form>
</main>