.product {
    max-width: 1440px;
    padding: 16px;
    margin: 0 auto;
    width: 100%;
}

.product__title {
    color: var(--blue-dark-1);
    font-size: 24px;
    font-weight: 600;
}

.product__card {
    background-color: var(--white);
    padding: 16px;
}

.product__card--import-file {
    margin-top: 16px;
}

.product__card--import-product {
    margin-top: 16px;
}

.product__card__title {
    color: var(--gray-dark-1);
    font-size: 14px;
    font-weight: 600;
}

.product__card__list {
    margin-top: 16px;
    font-size: 14px;
}

.product__card__list__item {
    color: var(--gray-dark-1);
    margin: 4px 0;
}

.product__card__button {
    align-items: center;
    color: var(--blue);
    cursor: pointer;
    display: flex;
    margin-top: 16px;
    max-width: 150px;
}

    .product__card__button i {
        margin-right: 8px;
    }

    .product__card__button input[type=file] {
        display: none;
    }


.product__section {
    background-color: var(--white);
    margin-top: 16px;
    min-height: 500px;
    padding: 16px;
    position: relative;
}

.product__section__title {
    color: var(--blue-dark-1);
    font-size: 14px;
    font-weight: 600;
}

.product__section__list {
    margin-top: 16px;
    overflow-x: auto;
}

    .product__section__list table {
        width: 100%;
    }

    .product__section__list tr {
        border-top: 1px solid rgba(0,0,0,0.1);
    }

        .product__section__list tr:last-child {
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }

    .product__section__list th {
        color: var(--black);
        font-size: 15px;
        padding: 16px;
    }

    .product__section__list td {
        color: var(--gray-dark-1);
        font-size: 14px;
        padding: 16px;
    }

.product__section__list__button {
    background-color: var(--green);
    border-radius: 100px;
    color: var(--white);
    display: block;
    font-size: 12px;
    margin: 0 auto;
    max-width: 95px;
    padding: 6px 16px;
    text-decoration: none;
}

.product__section__pagination {
    align-items: center;
    bottom: 16px;
    display: flex;
    position: absolute;
    right: 16px;
}

.product__section__pagination__item {
    color: var(--gray-dark-1);
    cursor: pointer;
    font-size: 13px;
    margin-right: 16px;
    text-decoration: none;
    transition: 0.3s font-weight;
}

    .product__section__pagination__item:hover {
        font-weight: 600;
    }

    .product__section__pagination__item:last-child {
        margin-right: 0;
    }

.product__section__pagination__item--active {
    align-items: center;
    background-color: var(--blue);
    border-radius: 100%;
    color: var(--white);
    cursor: default !important;
    display: flex;
    font-weight: 400 !important;
    height: 30px;
    justify-content: center;
    text-align: center;
    width: 30px;
}

.product__section__pagination__item--disabled {
    color: var(--gray-dark-2);
    cursor: default !important;
    font-weight: 400 !important;
}

@media screen and (min-width: 1024px) {
    .product {
        align-items: start;
        display: grid;
        grid-gap: 0 32px;
        grid-template-columns: minmax(0, 6fr) 3fr;
        grid-template-rows: auto;
        grid-template-areas: 'title title' 'section aside'
    }

    .product__title {
        grid-area: title;
    }

    .product__aside {
        grid-area: aside;
    }

    .product__section {
        grid-area: section;
    }
}