@using Microsoft.AspNetCore.Identity
@using ZPProductManagement.Web.Infrastructure

@inject UserManager<ApplicationUser> UserManager

@{
    var userName = UserManager.GetUserName(User);
}

<nav class="navbar shadow-1">
    <div class="navbar__container">
        <span class="navbar__user">@userName</span>
        <button class="navbar__avatar" data-navbar-avatar>@userName[0]</button>
        <form asp-action="Destroy" asp-controller="SignOut">
            <button class="navbar__sign-out" type="submit" data-navbar-sign-out>
                <i class="fa fa-sign-out"></i> Sign out
            </button>
        </form>
    </div>
</nav>